<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.graduationproject.dao.mapper.Number5dataMapper">
  <resultMap id="BaseResultMap" type="com.student.graduationproject.model.number5data.Number5data">
    <result column="BMI" jdbcType="VARCHAR" property="bmi" />
    <result column="pts" jdbcType="VARCHAR" property="pts" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BMI, pts
  </sql>
  <select id="selectByExample" parameterType="com.student.graduationproject.model.number5data.Number5dataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from number5data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.student.graduationproject.model.number5data.Number5dataExample">
    delete from number5data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.student.graduationproject.model.number5data.Number5data">
    insert into number5data (BMI, pts)
    values (#{bmi,jdbcType=VARCHAR}, #{pts,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.student.graduationproject.model.number5data.Number5data">
    insert into number5data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bmi != null">
        BMI,
      </if>
      <if test="pts != null">
        pts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bmi != null">
        #{bmi,jdbcType=VARCHAR},
      </if>
      <if test="pts != null">
        #{pts,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.student.graduationproject.model.number5data.Number5dataExample" resultType="java.lang.Long">
    select count(*) from number5data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update number5data
    <set>
      <if test="record.bmi != null">
        BMI = #{record.bmi,jdbcType=VARCHAR},
      </if>
      <if test="record.pts != null">
        pts = #{record.pts,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update number5data
    set BMI = #{record.bmi,jdbcType=VARCHAR},
      pts = #{record.pts,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select * from number5data;
  </select>
</mapper>